@import url('https://fonts.googleapis.com/css?family=Lobster');

:root {
  --light-gray: rgba(0, 0, 0, 0.2);
}

body {
  min-height: 100vh;
}

header .top {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

header .top ul {
  display: flex;
}

header h1.logo {
  font-family: 'Lobster', cursive;
  margin: 20px;
}

nav {
  padding: 20px;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.socials img {
  width: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

ul.socials {
  list-style: none;
}

footer {
  padding: 10px;
  border-top: 1px solid var(--light-gray);
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.noscript {
  background: var(--warning);
  text-align: center;
  margin: auto;
  padding: 20px 0 10px;
}

.jumbotron {
  margin-bottom: 0;
}
